# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false

# Prometheus Configuration
# Change these if Za is running on a different host
PROMETHEUS_PORT=9090
ZA_METRICS_HOST=localhost
ZA_METRICS_PORT=9091

# Grafana Port
GRAFANA_PORT=3000
